<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source=YUVAL\SQLEXPRESS;Initial Catalog=PFC2;Integrated Security=SSPI"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authorization>
      <!-- Order and case are important below -->
      <allow roles="Admin"/>
      <!--<deny users="*"/>-->
    </authorization>
  </system.web>
</configuration>

